/* ALL PAGES */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Instrument Serif';
    text-align: center;
    margin: 0;
}

.capitalize-words {
    text-transform: capitalize;
}

/* Banner */
.banner {
    display: flex;
    background-color: #ECF1FD;
    color: #10192E;
    letter-spacing: normal;
    padding: 1rem;
}

.banner-text {
    font-size: 1.2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: .25rem;
    text-align: center;
}

.banner-btn {
    background-color: #ECF1FD;
    color: #10192E;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/* Header */
header {
    background-color: #0A2463;
    color: #ECF1FD;
    letter-spacing: .5rem;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

header img {
    width: 7rem;
    height: auto;
}

    /* Dark Mode */
    /* The switch - the box around the slider */
.switch {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: inline-block;
    width: 2rem;
    height: 1rem;
}

    /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

    /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #10192E;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: .5rem;
    width: .5rem;
    left: .25rem;
    bottom: .25rem;
    background-color: #ECF1FD;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ECF1FD;
}

input:checked + .slider:before {
    background-color: #10192E;
    height: .5rem;
    width: .5rem;
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
   
/* Navigation */
nav {
    background-color: #6A93F0;
}

nav a {
    display: block;
    color: #10192E;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #10192E;
    color: #6A93F0;
}

    /* Hamburger Menu */
#menu {
    background-color: #6A93F0;
    color: #10192E;
    text-align: center;
    border: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

#menu::before {
    content: '≡';
}

.navigation {
    display: none;
}

#menu.open::before {
    content: '⨉';
}

.open{
    display: block;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr;
}

/* Footer */
footer {
    background-color: #10192E;
    color: #ECF1FD;
    padding: 1rem;
    text-align: center;
    line-height: 1rem;
}

footer img {
    width: 25%;
    height: auto;
}

/* HOME PAGE - MAIN */
        /* Hero Image*/
.hero {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    max-width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 75%;
}

        /* Sections */
.cta {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2rem;
    padding: 1rem;
    text-align: center; 
    z-index: 1;  
}

.cta-btn {
    background-color: #0A2463;
    color: #ECF1FD;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.events, .spotlights {
    background-color: #ECF1FD;
    margin: .5rem;
    padding: 1rem;
    border: 1px solid #0A2463;
}

.events h2, .spotlights h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.event-container, .spotlight-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #0A2463;
}

.spotlight-container {
    text-align: center;
}

.spotlight-container img {
    margin: .5rem;
    box-shadow: 0 0 10px #10192E;
}

.spotlight-container h3 {
    font-size: 1.5rem;
}

.weather {
    background-color: #6A93F0;
    margin: .5rem;
    padding: 1rem;
    border: 1px solid #0A2463;
}

.weather h2 {
    text-align: center;
    border-top: 1px solid #10192E;
    border-bottom: 1px solid #10192E;
}

.weather-today {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: .5rem;
}

.weather-icon {
    grid-column: 1/2;
    grid-row: 1/5;
    align-self: center;
}

.weather p {
    grid-column: 2/4;
    margin: 0;
}

.weather-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: .5rem;
}

.forecast {
    margin: .25rem;
}

/* DISCOVER PAGE - MAIN */
.discover-page {
    margin: 1rem;
}

.discover-page h2 {
    font-size: 2.5rem;
    padding: 1.5rem;
}

.sidebar-content section {
    margin: 2rem;
    padding: .5rem;
    border: 1px solid #10192E;
}

.sidebar-content h3 {
    font-size: 1.5rem;
}

.small-text {
    font-size: .75rem;
    padding: .5rem;
    text-align: center;
}

.images {
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }

.images img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid #0A2463;
    box-shadow: 0 0 10px #0A2463;
}

.container:hover img {
    opacity: .5;
}
  
.image-label p {
    background-color: #10192E;
    color: #ECF1FD;
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-radius: 20px 5px 20px 5px;
}

.date-message {
    background: radial-gradient(white, white, #6A93F0, #0A2463);
    padding: .5rem;
    font-weight: 600;
    text-align: center;
    border: 2px solid #10192E;
}

.current-date {
    font-size: 1.5rem;
}

/* JOIN PAGE - MAIN */
.join-page {
   display: block;
}

form fieldset {
    margin: 1rem;
    border: 2px solid #6A93F0;
    border-bottom: 5px solid #6A93F0;
    border-radius: 15px 5px 15px 5px;
}

form legend {
    font-family: 'Instrument Serif';
    font-size: 1.5rem;
    margin: .5rem;
}

form label.top input{
    background-color: #ECF1FD;
    display: block;
    width: 80%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #0A2463;
    border-radius: 5px;
}

form label.sbs {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
}

#bizorg-desc {
    background-color: #ECF1FD;
    display: block;
    width: 80%;
    padding: 1rem;
    border: 2px solid #0A2463;
    border-radius: 5px;
}

.mmbr-Desc {
    margin: .3rem auto 1rem 2.4rem;
}

.join-now {
    display: block;
    background-color: #6A93F0;
    color: #10192E;
    font-size: 1.5rem;
    width: 90%;
    max-width: 20rem;
    margin: 0 auto 1rem 1rem;
    padding: 1rem;
    border-radius: 15px;
}

/* THANK YOU PAGE - MAIN */
.thankyou-page {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    border: 2px solid #10192E;
    border-radius: 20px;
}

/* DIRECTORY PAGE - MAIN */
.directory-page {
    display: block;
}

.view-btns {
    margin-top: .5rem;
    padding: .5rem;
    text-align: center;
}

#grid-btn, #list-btn {
    background-color: #ECF1FD;
    padding: .5rem 2rem;
    border-radius: 5px;
}

.mmbr-info {
    margin: .5rem;
    padding: 1rem;
    border: 3px solid #0A2463;
    border-radius: 20px;
    text-align: center;
    overflow-wrap: break-word;
}

.mmbr-info img {
    max-width: 200px;
    height: auto;
    padding: .5rem;
    box-shadow: 0 0 10px #10192E;    
}

.mmbr-level {
    font-weight: bold;
}

#Gold {
    color: #8f6600;
}

#Silver {
    color: darkslategray;
}

#Bronze {
    color: saddlebrown;
}

#Non-Profit {
    color: purple;
}

    /* VIEW TYPES */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

#directory-sections {
    max-width: 1250px;
    margin: 0 auto;
}

.list img, .list .mmbr-details, .list .mmbr-level {
    display: none;
}

.list .mmbr-info {
    margin: 0;
    padding: .55rem;
    border: none;
    border-radius: 0;
}

.list p, .list a, .list h2 {
    display: block;
    font-family: 'Montserrat';
    font-size: 1rem;
    margin: .25rem;
    text-align: left;
}

.list .mmbr-info:nth-child(odd) {
    background-color: #ECF1FD;
}