@media (min-width: 1000px) {

    /* Header */
    header img {
        max-width: 15vw;
    }

    h1 {
        font-size: 5vw;
        word-spacing: .5rem;
    }

    /* Navigation */
    .navigation {
        display: flex;
    }
    
    nav {
        width: 100%;
        text-align: center;
    }

    nav a {
        flex: 1 1 100%;
    }

    /* HOME PAGE - MAIN */
    .home-page {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .cta {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    
    .events {
        grid-column: 1/2;
        grid-row: 1/5;
        display: block;
        margin: 0;
        border: none;
    }

    .spotlights {
        grid-column: 2/4;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        margin: 0;
        border: none;
        text-align: center;
    }
    
    .spotlights h2 {
        grid-column: span 3;
    }

    .spotlights section {
        margin: .5rem;
        border: 1px solid #10192E;
    }
    
    .weather {
        grid-column: 2/4;
        grid-row: 3/4;
        margin: .5rem;
        padding: .25rem;
        border: none;
        box-shadow: 0 0 10px #8CADFB;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .25rem;
    }

    .weather h2 {
        border-top: none;
    }

    .weather p {
        margin: 0;
        padding: 0;
    }

    .weather-today{
        grid-column: 1/2;
        margin: 0;
    }

    .h2-forecast {
        grid-column: 2/5;
        grid-row: 1/2;
    }

    .weather-forecast {
        grid-column: 2/5;
        grid-row: 2/3;
        margin: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* DISCOVER PAGE - MAIN */
    .discover-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sidebar-content {
        grid-column: 1/2;
        padding: 1rem;
    }

    .images {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5rem;
    }

    .container {
        position: relative;
        margin: 0 auto;
    }

    .images img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        box-shadow: 0 0 15px #8CADFB;
    }

    .one {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .two {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .three {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .four {
        grid-column: 2/4;
        grid-row: 4/5;
    }

    .five {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .six {
        grid-column: 2/4;
        grid-row: 6/7;
    }

    .image-label {
        position: absolute;
        bottom: 1rem;
        left: .5rem;
    }

    /* DIRECTORY PAGE- MAIN */
    #directory-sections .list{
        display: flex;
        flex-direction: column;
    }

    .list .mmbr-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 350px;
        margin: 0;
        padding: .5rem;
        border: none;
        border-radius: 0;
        align-items: center;
    }

    /* JOIN PAGE - MAIN */
    .join-page form {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #person-info {
        grid-column: 1/2;
    }

    #bizorg-info {
        grid-column: 1/2;
    }

    #mmbrship-option {
        grid-column: 1/2;
    }

    #mmbrship-benefits {
        grid-column: 2/3;
        grid-row: 1/4;
    }

    .join-now {
        grid-column: 1/2;
    }
}