/* ALL PAGES */
* {
    font-family: 'Truculenta';
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Junge';
    letter-spacing: .25rem;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-size: 1.6rem;
    margin: 3rem auto;
    border-top: 2px solid #55DDE0;
    border-bottom: 2px solid #55DDE0;
    box-shadow: 0px -25px 20px -20px #55DDE0, 0px 25px 20px -20px #55DDE0;
}

h3 {
    font-size: 1.4rem;
    margin: 2rem auto;
    border-top: 2px solid #F6AE2D;
    border-bottom: 2px solid #F6AE2D;
    box-shadow: 0px -25px 20px -20px #F6AE2D, 0px 25px 20px -20px #F6AE2D;
}

p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
    padding: .5rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 15px #2F4858;
}

.icons {
    box-shadow: none;
}

iframe {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 3rem auto 1rem auto;
    box-shadow: 0 0 15px #2F4858;
}

/* HEADER */
header {
    background-color: #55DDE0;
    color: #2F4858;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header img {
    grid-column: 1/2;
    max-width: 60%;
    height: auto;
    margin: 1rem;
    border: 3px solid #2F4858;
    border-radius: 50%;
    box-shadow: 0 0 10px #F6AE2D;
}

#company-header {
    grid-column: 2/4;
    line-height: normal;
}

h1 {
    font-size: calc(8vw + 1vh);
}

#company-header p {
    font-size: calc(5vw + .5vh);
}

/* NAVIGATION */
nav {
    display: none;
    background-color: #F6AE2D;
}

nav a {
    display: block;
    color: #2F4858;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: #55DDE0;
    font-weight: bold;
}

        /* NAVIGATION - HAMBURGER MENU */
#ham-btn {
    background-color: #F6AE2D;
    color: #2F4858;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 25px 20px -20px #55DDE0 inset;
}

#ham-btn::before {
    content: '≡';
}

#ham-btn.show::before {
    content: '⨉';
}

.show {
    display: block;
    text-align: center;
}

/* MAIN */
main {
    margin: 3rem;
}

main section {
    margin: 3rem auto;
    padding: 1.5rem;
}

/* FOOTER */
footer {
    background-color: #2F4858;
    color: #55DDE0;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: white;
}

.company-footer, .project-info {
    line-height: 2rem;
    margin: 1rem auto;
}

footer img {
    max-width: 50%;
    height: auto;
    margin: 1rem auto;
    border: 3px solid #F6AE2D;
    border-radius: 50%;
    box-shadow: 0 0 10px #55DDE0;
}

.project-info {
    grid-column: 1/3;
    color: #F6AE2D;
    margin: 1rem auto;
}

/* HOME PAGE - MAIN */
#banner-home {
    grid-column: 1/4;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    color: #2F4858;
    padding: 1rem;
}

#banner-home p {
    max-width: 1000px;
    height: auto;
    text-align: center;
}

#banner-btn {
    background-color: #F6AE2D;
    color: #2F4858;
    font-weight: bold;
    margin: .5rem 1rem;
    padding: .25rem;
    border: 2px solid #2F4858;
    cursor: pointer;
}

.medium-view, .large-view {
    display: none;
}

#call-to-action {
    font-weight: bold;
    max-width: 90%;
    border: 2px solid #55DDE0;
    border-radius: 10px;
    box-shadow: 0 0 50px #55DDE0 inset;
}

#call-to-action h3 {
    margin: 0;
    border: none;
    box-shadow: none;
}

#rental-summary ul {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
    list-style: none;
}

#rental-summary p {
    margin: 2rem auto;
    border: 2px solid #55DDE0;
    border-radius: 10px;
    box-shadow: 0 0 50px #55DDE0 inset;
}

#rental-summary a {
    color: #2F4858;
    font-family: 'Junge';
    font-weight: bold;
    text-decoration: none;
}

#weather {
    text-align: center;
    border: 2px solid #55DDE0;
    box-shadow: 0 0 10px #55DDE0;
}

#current-weather, #forecast {
    margin: 2rem auto;
}

.capitalize {
    text-transform: capitalize;
}

#social-media {
    text-align: center;
}

#social-media a{
    padding: .5rem;
}

/* RENTALS PAGE - MAIN */
#rentals-main section {
    max-width: 350px;
}

#rentals-main h3 {
    margin: 1rem auto;
    border: none;
    box-shadow: none;
}

#rentals-main section:nth-child(even) {
    border: 2px solid #55DDE0;
    border-radius: 5px 20px;
    box-shadow: 0 0 10px 5px #55DDE0;
}

#rentals-main section:nth-child(odd) {
    border: 2px solid #F6AE2D;
    border-radius: 20px 5px;
    box-shadow: 0 0 10px 5px #F6AE2D;
}

table {
    display: table;
    margin: 2rem auto;
    border-collapse: collapse;
    border: 1px solid #2F4858;
}

caption {
    display: none;
}

tr, td {
    text-align: center;
    border: 1px solid #2F4858;
}

td {
    padding: .5rem;
}

.orange {
    background-color: #F6AE2D;
}

.blue {
    background-color: #55DDE0;
}

.orange, .blue {
    font-size: 1.2rem;
}

/* RESEVERATIONS PAGE - MAIN */
#reserverations-main h2 {
    width: 100%;
}

#agreement {
    font-size: 1.2rem;
    margin: 3rem auto;
    line-height: 2rem;
}

#agreement ul {
    margin: 1.5rem;
}

fieldset {
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid #F6AE2D;
    border-top: 5px solid #F6AE2D;
    border-radius: 10px;
}

fieldset p {
    text-align: left;
}

legend {
    font-family: 'Junge';
    font-size: 2rem;
    letter-spacing: .25rem;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

label.top input, textarea{
    display: block;
    width: 80%;
    font-weight: normal;
    margin: .5rem auto 1.5rem 0;
    padding: .5rem;
}

.sbs {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    padding: .5rem;
}

.sbs input {
    margin: .5rem;
}

form p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1.5rem auto .5rem 0;
}

#reservation-btn {
    background-color: #55DDE0;
    color: #2F4858;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .25rem;
    padding: 2rem;
    border: none;
    border-radius: 10px;
}

#reservations-main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px #2F4858;
}

/* THANK YOU PAGE */
#thank-you-main p {
    font-size: 1.5rem;
    text-align: center;
}

/* CONTACT US PAGE - MAIN */
#contact-info, #maps {
    font-size: 2rem;
    text-align: center;
    margin: 5rem auto;
    line-height: 3rem;
}

#contact-main form {
    padding: 2rem;
    border: 2px solid #55DDE0;
}