/* ALL PAGES */
* {
    font-family: 'Truculenta';
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Junge';
    letter-spacing: .25rem;
}

/* HEADER */
header {
    position: relative;
    background-color: #55DDE0;
    color: #2F4858;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

header img {
    grid-column: 1/2;
    max-width: 86%;
    height: auto;
    margin: 1rem;
    border: 3px solid #2F4858;
    border-radius: 50%;
    box-shadow: 0 0 10px #F6AE2D;
}

#company-header{
    grid-column: 2/4;
    font-size: 6vw;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 10vw;
}

/* NAVIGATION */
nav {
    display: none;
    background-color: #F6AE2D;
}

nav a {
    display: block;
    color: #2F4858;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: #55DDE0;
    font-weight: bold;
}

        /* NAVIGATION - HAMBURGER MENU */
#ham-btn {
    background-color: #F6AE2D;
    color: #2F4858;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 25px 20px -20px #55DDE0 inset;
}

#ham-btn::before {
    content: '≡';
}

#ham-btn.show::before {
    content: '⨉';
}

.show {
    display: block;
    text-align: center;
}

/* MAIN */
main {
    margin: 2rem;
}

main section {
    margin: 3rem auto;
    padding: 1rem;
}

/* FOOTER */
footer {
    background-color: #2F4858;
    color: #55DDE0;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: white;
}

.company-footer, .project-info {
    margin: 1rem auto;
}

footer img {
    max-width: 50%;
    height: auto;
    margin: 1rem auto;
    border: 3px solid #F6AE2D;
    border-radius: 50%;
    box-shadow: 0 0 10px #55DDE0;
}

.project-info {
    grid-column: 1/3;
    color: #F6AE2D;
    margin: 1rem auto;
}

/* HOME PAGE - MAIN */
#banner-home {
    grid-column: 1/4;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    color: #2F4858;
    font-size: 1.5rem;
    padding: 1rem;
}

#banner-home p {
    max-width: 1000px;
    height: auto;
    text-align: center;
}

#banner-btn {
    background-color: #F6AE2D;
    color: #2F4858;
    font-weight: bold;
    margin: .5rem 1rem;
    padding: .25rem;
    border: 2px solid #2F4858;
    cursor: pointer;
}

.small-view img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 15px #2F4858;
}

.medium-view, .large-view {
    display: none;
}

#home-main h2 {
    font-size: 1.6rem;
}

#home-main h4 {
    font-size: 1.4rem;
}

#home-main p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem; 
}

#home-main h2, #home-main h4 {
    text-align: center;
    margin: 2rem auto;
    padding: .5rem;
    border-top: 2px solid #55DDE0;
    border-bottom: 2px solid #55DDE0;
    box-shadow: 0px -25px 20px -20px #55DDE0, 0px 25px 20px -20px #55DDE0;
}

#call-to-action {
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    width: 90%;
    padding: 1rem;
    border: 2px solid #F6AE2D;
    border-radius: 10px;
    box-shadow: 0 0 50px #F6AE2D inset;
}

iframe {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto 2rem auto;
    box-shadow: 0 0 15px #2F4858;
}

#locations-nav p:nth-child(4) {
    margin-top: 5rem;
}

#rental-summary ul {
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    line-height: 2rem;
}

#rental-summary p {
    font-size: 1.4rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    border: 2px solid #2F4858;
}

#rental-summary a {
    color: #F6AE2D;
    font-family: 'Junge';
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

#weather {
    text-align: center;
    border: 2px solid #F6AE2D;
    box-shadow: 0 0 10px #F6AE2D;
}

#current-weather, #forecast {
    margin: 2rem auto;
    padding: 1rem;
}

#current-weather h4, #forecast h4 {
    border-top: 2px solid #F6AE2D;
    border-bottom: 2px solid #F6AE2D;
    box-shadow: 0px -25px 20px -20px #F6AE2D, 0px 25px 20px -20px #F6AE2D;
}

.capitalize {
    text-transform: capitalize;
}

#social-media {
    text-align: center;
}

#social-media h4 {
    padding: 1rem;
}

#social-media a{
    padding: .5rem;
}

/* RENTALS PAGE - MAIN */
#rentals-main h2 {
    background-color: #2F4858;
    color: #F6AE2D;
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1000px;
    box-shadow: 0 0 10px #2F4858;
}

#rentals-main img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#rentals-main section {
    max-width: 400px;
    margin: 3rem auto;
}

#rentals-main section:nth-child(odd) {
    padding: 1rem;
    border: 2px solid #55DDE0;
    box-shadow: 0 0 10px 5px #55DDE0;
}

#rentals-main section:nth-child(even) {
    padding: 1rem;
    border: 2px solid #F6AE2D;
    box-shadow: 0 0 10px 5px #F6AE2D;
}

#rentals-main section img {
    border: 2px solid #2F4858;
}

#rentals-main h3, #rentals-main p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
}

table {
    display: table;
    margin: 2rem auto;
    border-collapse: collapse;
    border: 1px solid #2F4858;
}

caption {
    display: none;
}

tr, td {
    text-align: center;
    border: 1px solid #2F4858;
}

td {
    padding: .5rem;
}

.orange {
    background-color: #F6AE2D;
}

.blue {
    background-color: #55DDE0;
}

.orange, .blue {
    font-size: 1.2rem;
}

/* RESEVERATIONS PAGE - MAIN */
