body {
    font-family: 'Montserrat', Tahoma;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Header Elements */
header {
    background-color: black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

header img {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    border: 3px solid #525252;
}

h1 {
    grid-column: 2/3;
    font-family: 'Instrument Serif', Georgia;
    font-weight: normal;
    font-size: 3rem;
    color: white;
    padding: 1rem;
    align-self: center;
    justify-self: start;
}

h1::first-letter {
    font-size: 5rem;
    color: #BD0F69;
}

/* Nav Elements */
nav {
    background-color: #525252;
}

nav a {
    display: block;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}


nav a:hover {
    background-color: #BD0F69;
    color: white;
} 

.active::before {
    content: "| ";
}

.active::after {
    content: " |";
}

/* Main Elements */
main {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.hero {
    position: relative;
    justify-self: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-label {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 1rem;
    border: 2px solid #BD0F69;
    background: radial-gradient(#fff, #BD0F69);
    opacity: .70;
}

.hero-label p {
    font-family: 'Instrument Serif';
    font-size: 2rem;
    font-weight: bold;
}

main h2 {
    margin: 1rem;
    border-bottom: 1px solid black;
    text-align: center;
}

main h3 {
    background-color: #BD0F69;
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.card {
    margin: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
}

main ul {
    text-align: left;
    list-style: none;
}

main li {
    font-weight: bold;
    padding: .25rem;
}

main a {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

main a:hover {
    color: #BD0F69;
    font-weight: bold;
}

#weather {
    border: 2px solid #BD0F69;
    box-shadow: 0 0 10px #BD0F69;
    margin: 1rem;
    line-height: .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#weather-desc {
    text-transform: capitalize;
    padding: .5rem;
}

#page-visits {
    margin: .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#visits {
    padding: .5rem;
}

/* iframe Google Map*/
.iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100%;
    margin: 1rem;
    height: 400px;
    border: none;
}

/* Footer Elements*/
footer {
    background-color: #525252;
    color: white;
    padding: .5rem;
    text-align: center; 
}


/* Media Queries */
/* Small View */
@media screen and (max-width: 699px) {

    #menu {
        font-size: 2rem;
        background-color: #525252;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "≡";
    }

    .navigation {
        display: none;
    }

    #menu.open::before {
        content: "Ⅹ";
    }

    /* Open navigation when button clicked */
    .open {
        display: block;
    }
}