body {
    font-family: 'Montserrat', Tahoma;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Header Elements */
header {
    background-color: #3D0B37;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}
header img {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    border: 3px solid #762D58;
}

h1 {
    grid-column: 3/4;
    font-family: 'Moon Dance', Georgia;
    font-weight: normal;
    font-size: 3rem;
    color: white;
    padding: 1rem;
    align-self: center;
    justify-self: center;
}

/* Nav Elements */
nav {
    background-color: #124559;
    color: white;
    margin: 0 auto;
}

nav ul {
    padding: .5rem;
    margin: 0;
    list-style: none;
}

nav a {
    display: block; /* Makes the nav items lineup vertically */
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #5C8F99;
    color: white;
}

/* Main Elements */
main {
    width: 95%;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: .5fr 5fr .5fr;
    grid-gap: 1rem;
}

main h2 {
    grid-column: 2/3;
    border-bottom: 1px solid #3D0B37;
    text-align: center;
}

.card {
    grid-column: 2/3;
    text-align: center;
    border: 1px solid #3D0B37;
}

main a {
    text-decoration: none;
}

main a:hover {
    color: #124559;
    font-weight: bold;
}

main h3 {
    background-color: #3D0B37;
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

main ul {
    text-align: left;
    list-style: none;
}

/* Footer Elements*/
footer {
    background-color: #124559;
    color: white;
    padding: .5rem;
    text-align: center; 
}