@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Moon+Dance&display=swap');

body {
    font-family: 'Montserrat', Tahoma, Airal;
    background-color: #E9FFF9;
    margin: 0; /* margin and padding 0 makes the header take up the whole space */
    padding: 0;
}

/* Header Elements */
header {
    background-color: #3D0B37;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr;
}
header img {
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
    border: 3px solid #762D58;
}

h1 {
    grid-column: 3/4;
    font-family: 'Moon Dance';
    font-weight: normal;
    color: white;
    padding: 10px;
    align-self: center;
    justify-self: start;
}

/* Nav Elements */
nav {
    background-color: #124559;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 2px;
    text-decoration: none; /* removes underline from hyperlink */
    display: block; /* Makes the nav items lineup vertically */
}

nav a:hover {
    background-color: #54838C;
    color: white;
    font-weight: bold;
}

/* Main Elements */
main {
    width: 90%;
    padding: 10px;
    margin: 10px;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 5px auto 5px;
}

main h2 {
    grid-column: 2/3;
    border-bottom: 1px solid #3D0B37;
    text-align: center;
}

.card {
    grid-column: 2/3;
    margin: 10px;
    text-align: center;
    border: 1px solid #3D0B37;
}

main a {
    text-decoration: none;
}

main a:hover {
    background-color: #124559;
    color: white;
    font-weight: bold;
}

main h3 {
    background-color: #4A6F34;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    text-align: left;
    list-style: none;
}

/* Footer Elements*/
footer {
    background-color: #3D0B37;
    color: white;
    padding: 10px;
    text-align: center; 
}